<div class="container text-center">
    <h3>Login</h3>
    <form action="/login" method="post">
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <input type="submit" value="login" class="btn btn-primary">
    </form>
    <br>

    <% if (autherror){ %>
        <p class="alert alert-danger">
            <%= autherror %>
        </p>
        <% } %>

            <br>
            <div>
                Don't have account ? <a href="/signup">Create Account</a>
            </div>
</div>